<!DOCTYPE html>
<html lang="en">
	<head>
		<title> Consumo de API y Single Page App</title>
		
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Required Vue and Axios -->		
		<script src="https://unpkg.com/vue@2.5.8/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<style type="text/css">
			.card {
				width: 170px;
			}
			.card-img-top {
				width: 150px;
				height: 150px;
				margin: 10px;
			}
			.card-title {
				font-size: 1.2rem;
			}
		</style>
	</head>
	<body>

		<div class="container pt-3">
			<h4>ESPECIALIDADES</h4>
		</div>	
		<!-- Listado de Especialidades -->
		<div id="app_especialidad" class="container pt-2 d-flex align-items-start flex-wrap justify-content-center">
		  <template v-for="especialidad in especialidades">
		    <div class="card m-2 ">
		    <img class="card-img-top " v-bind:src="host +'/img/'+especialidad.imagen" alt="Card image cap">
		    <div class="card-block">
		       <h4 class="card-title">{{ especialidad.nombre }}</h4>
		    </div>
		    <ul class="list-group list-group-flush">
		      <li class="list-group-item">Inscritos: {{ especialidad.inscritos }}</li>
		        <template v-for="usuario in especialidad.users">
		          <li class="list-group-item">{{ usuario.nombres }}</li>
		        </template>   
		    </ul>
		  </template>
		</div>  

	<section class="container">
			
		
			<h2 class="text-muted">BIBLIOGRAFÍA</h2>	


			<article class="row mt-5">	
				{% for categoria in categorias %}
					<div class="card m-2 "> 
						<img class="card-img-top " src="/img/{{categoria.imagen}}" alt="Card image cap">
						<div class="card-block">
							<h4 class="card-title">{{ categoria.nombre }}</h4>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Inscritos: {{categoria.inscritos}}</li>
							{% for user in categoria.users %}
								<li class="list-group-item">{{user.nombres}}</li>
							{% endfor %}
						</ul>
					</div>
				{% endfor %}
			</article>

		</section>
		<!-- jQuery first, then Tether, then Bootstrap JS. -->
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

		<!-- Aplicaciones en VueJS -->
	</body>
</html>